/*
=replace your font-directory with font
=&replace your desire font-name with font-name
---------------------------------------------------*/
@font-face {
	font-family:'font-name';
	src: url('fonts/font.eot');
	 src: url('fonts/font.eot?#iefix') format('eot'), 
	      url('fonts/font.woff') format('woff'), 
		  url('fonts/font.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}