.tt-silver{
    background-color: #C0C0C0;
}
.tt-green{
    background-color: #519839;
}
.tt-yellow{
    background-color: #f2d600; 
}
.tt-orange{
    background-color: #ffab4a;
}
.tt-red{
    background-color: #eb5a46;
}
.tt-purple{
    background-color: #c377e0;
}
.tt-blue{
    background-color: #0079bf;
}
.tt-sky{
    background-color: #85ceed;
}
.tt-lime{
    background-color: #BFFF00;
}
.tt-rose{
    background-color: #FF007F;
}
.tt-navy{
    background-color: #000080;
}
